<h1>Bank info</h1>
<h1>Last Updated: November 17, 2013<h1>
<p>Your privacy is important to us. This Online Privacy Policy explains how we collect, share, use, and protect information when you visit or use this online service and any other online services offered by the U.S. banking and non-banking affiliates and subsidiaries of Chase that link to or reference this policy (collectively, our “online services”). This policy covers Chase’s many online services, including the Chase websites, Chase Mobile, and Chase-branded social media sites or pages, as well as any interactions you may have while viewing content provided through one of Chase’s digital advertising campaigns.

As you review this Online Privacy Policy, here are a few general principles to keep in mind:

Our online services are intended for a U.S. audience. If you visit or use one of our online services, your information may be transferred or processed in the United States. For non-U.S. online services, please review the privacy policy applicable to that service to understand how your information will be treated and safeguarded.
Our online services are not intended for children under 13. We do not knowingly collect personal information from children under 13 without parental consent.
 If you have a financial product or service with us, we will use and share any information that we collect from or about you in accordance with our U.S. Consumer Privacy Notice, which offers you certain choices with respect to the use and sharing of your personal information.
Chase Mobile and our social media sites or pages may have additional terms from this policy about the privacy of your information. Please review the privacy policy for the specific online service you are using.
If you have questions after reviewing this policy, please visit the Frequently Asked Questions section in the Security Center.</p>