<!DOCTYPE html>
<html>
<text>
	
<body>
 <%= link_to image_tag("hehe.jpg", alt: "hehe", :class=>"hehe_image"),'/welcome/index' %> 
 </body>
</text>
</html>

<style>
.hehe_image{
  width:650px;
}

</style>
