<!DOCTYPE html>
<html>
<text>
	
<body></body>
</text>
</html>

<style>

 body {
 	background-image: url('http://fc00.deviantart.net/fs36/f/2008/275/e/d/Black_WallStreet_WallPaper_2_by_BlackWallStreet_Club.jpg'); 
  	height: 100%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

text{
	
	text-decoration: underline;
	text-transform: uppercase;
	font-style: italic;
	text-align: justify;
	text-shadow: 1px 1px rgb(150,0,0);
	font-family: "chalkduster", cursive, serif;
}

</style>
