<h1>About</h1>
<p>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY. BY ACCESSING THIS WEBSITE YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS BELOW. THESE TERMS AND CONDITIONS ARE SUBJECT TO CHANGE. ANY CHANGES WILL BE INCORPORATED INTO THE TERMS AND CONDITIONS POSTED TO THIS WEBSITE FROM TIME TO TIME. IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, PLEASE DO NOT ACCESS THIS WEBSITE.
Unauthorized use of JPMorgan Chase's Websites and systems, including but not limited to unauthorized entry into JPMorgan Chase's systems, misuse of passwords, or misuse of any information posted to a site, is strictly prohibited.
You acknowledge that JPMorgan Chase may disclose and transfer any information that you provide through this Website to (i) any company within the JPMorgan Chase group, its affiliates agents or information providers; (ii) to any other person or entity with your consent; or (iii) if we have a right or duty to disclose or are permitted or compelled to so disclose such information by law. You consent to the transmission, transfer or processing of such information to, or through, any country in the world, as we deem necessary or appropriate (including to countries outside the EEA), and by using and providing information through this Website you agree to such transfers. Use of this Website, including any patterns or characteristics concerning your interaction with it, may be monitored, tracked and recorded. Anyone using this Website expressly consents to such monitoring, tracking and recording.
You agree not to attempt to log on to the Website from any country under sanctions by the Office of Foreign Assets Control (OFAC). Information regarding which countries are under sanctions may be obtained on the U.S. Department of the Treasury website. Any attempt to log on to the Website from one of these countries may result in your access being restricted and/or terminated.</p>

<h2>Copyright Notices</h2>
<p>The works of authorship contained in the chase.com Website (the "Website"), including but not limited to all design, text, sound recordings and images, are owned, except as otherwise expressly stated, by JPMorgan Chase & Co. or one of its subsidiaries, ("JPMorgan Chase"). Except as otherwise expressly stated herein, they may not be copied, transmitted, displayed, performed, distributed (for compensation or otherwise), licensed, altered, framed, stored for subsequent use or otherwise used in whole or in part in any manner without Chase's prior written consent, except to the extent permitted by the Copyright Act of 1976 (17 U.S.C. ยง 107), as amended, and then, only with notices of JPMorgan Chase's proprietary rights provided that you may download information and print out hard copies for your personal use, so long as you do not remove any copyright or other notice as may be contained in information, as downloaded.</p>

<style>
 
 h1{
 	text-decoration: underline;
 	text-transform: uppercase;
	font-style: italic;
	text-align: justify;
	text-shadow: 1px 1px rgb(150,0,0);
	font-family: "chalkduster", cursive, serif;
	color: rgb(200,0,0);
 }

 p{
	font-family: "Times New Roman", Georgia, Serif;
	color: white;
 }

 body {
 	background-image: url('http://www.elcivics.com/images/esl-bank-banner.jpg');
  	height: 100%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

text{
	
	text-decoration: underline;
	text-transform: uppercase;
	font-style: italic;
	text-align: justify;
	text-shadow: 1px 1px rgb(150,0,0);
	font-family: "chalkduster", cursive, serif;
	color: rgb(200,0,0);
}

</style>
