<out>
<h1>Contact Infomation</h1>

<h2><span class = "sidebar-title">Online or Mobile Banking:</span></h2>
<p>
	<span class = "sidebar-body">
		<b>Go Wild Bank Service(US only)</b>
		<br>
		"xxx-457-xxxx"
		<br>
		"xxxx@gmail.com"
		<br>
	</span>

</p>
</out>

<style>

	body {
  	background-image: url('http://start.ticketfly.com/files/2012/08/hero-contact.jpg'); 
  	height: auto;
	width: auto;
	float: left;
	overflow: hidden;
	position: relative; 
	}	

	

	out{
	font-family: "Times New Roman", Georgia, Serif;
  	color: white;
  	text-align: justify;
	}

</style>

