<body>
<div class = "contract">
<h1>Contact Infomation</h1>

<h2><span class = "sidebar-title">Online or Mobile Banking:</span></h2>
<p>
	<span class = "sidebar-body">
		<b>Go Wild Bank Service(US only)</b>
		<br>
		"xxx-457-xxxx"
		<br>
		"xxxx@gmail.com"
		<br>
	</span>

</p>
</div>
</body>
<style>
	.contract{
		text-align: center;
		font-size: 15px;
		background-image: url("http://vectorgoods.com/wp-content/uploads/2012/02/simple-floral-background1.jpg");
	}
	body{
		
	}

</style>

