<div class="tran-center">
<h1>Transferin..</h1>

<%= render 'form' %>

<div class = "button_showh">
<%= link_to 'show history', transfers_path %>
</div>

<style>
	.tran-center{
		background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRRv8Z3XHY3NZl9Z_w-4mD0vIUt7DhojCLxTFZAVyRiSvwPYHF7");
		text-align: center;
	}
	.button_showh{
		color: #000000;
	}
</style>