body {
	color:red;
  #background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

container{
	color:red;
	margin-left:auto;
	margin-right:auto;
}
button{
  position: relative;
  left: 80px;
}
.articles {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:30px;
  margin-right:30px;
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  font-family: arial,sans-serif;
  border-bottom: 1px #e5e5e5 solid;
}
